footer{
    width: 100%;
    margin: auto;
    display: flex;
    background-color: white;
    @include mobile{
        flex-direction: column-reverse;
    }
    div{
        display: flex;
        flex-direction: column;
        margin: 10px 0px 10px 200px;
        @include tablette{
            margin-left: 50px;
        }
        @include mobile{
            margin-left: 10px;
            margin-bottom: 20px;;
            flex-direction: row;
            width: 100%;
            justify-content: space-around;
        }
        a{
            text-decoration: none;
            img{
            width: 40px;
            @include mobile{
                width: 40px;
            }
            }
            &:hover{
                text-decoration: underline;
            }
        }
    }
    div:nth-child(2){
        width: 100%;
        text-align: center;
        position: relative;
        img{
            width: 300px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            @include tablette{
                width: 200px;
            }
            @include mobile{
                // width: 150px;
            }
        }
    }
    div:nth-child(3){
        margin-right: 200px;
        // flex-direction: column;
        @include tablette{
            margin-right: 20px;
        }
        a{
            margin-top: 10px;
        }
    }
}