header{
    width: 100%;
    height: 100px;
    display: flex;
    position: fixed;
    top: 0px;
    box-sizing: border-box;
    z-index: 100;
    background: #ecdfdf;
    transition: all 100ms ease-in-out;
    @include mobile{
        height: 80px;
    }
    & img{
        width: 120px;
        margin: 5px 0px 10px 10px ;
        object-fit: cover;
        @include tablette{
            position: absolute;
            top:-50px;
            left: -60px;
        }
        @include mobile{
            left: -40px;
            width: 100px;
            top: -40px;
        }
    }
}

.head{
    width: 80%;
    margin: auto;
    position: relative;
    include tablette{
        width: 100%;
    }
}