.formulaire{
    background-image: url(back_sec3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 100px;
    padding-bottom: 80px;
    h1{
        text-align: center;
        margin-bottom: -80px;
        font-size: 35px;
    }
    .alerte{
        width: 100%;
        padding: 10px;
        color: red;
        margin-bottom: 40px;
        background-color: rgba(228, 116, 116, 0.5);
    }
    .success{
        width: 100%;
        padding: 10px;
        color: blue;
        margin-bottom: 40px;
        background-color: rgba(82, 82, 225, 0.5);
    }
    .validation{
        display: flex;
        background-color: rgba(255, 255, 255, 0.9);
        width: 60%;
        margin: auto;
        @include tablette{
            flex-direction: column;
            width: 80%;
        }
        @include mobile{
            width: 95%;
        }
    }
    form{
        width: 50%;
        margin: auto;
        margin-top: 80px;
        // background: white;
        padding: 50px;
        @include tablette{
            width: 90%;
            padding: 0px;
        }
        >div{
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
            label{
                margin-bottom: 5px;
            }
            input{
                font-size: 20px;
            }
        }
        button{
            color: white;
            padding: 8px;
            background-color: rgb(71, 71, 214);
            font-family: "calibri";
            font-size: 18px;
            border-style: none;
            border-radius: 5px;
            &:hover{
                box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.8);
            }
        }
    }    
    .map{
        width: 50%;
        margin: auto;
        @include tablette{
            width: 90%;
            margin-bottom: 40px;
        }
        iframe{
            @include tablette{
                width: 100%;
                margin: auto;
            }
        }
    }
    .conf{
        width: 50%;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        @include mobile{
            width: 80%;
        }
        p{
            text-align: justify;
            margin-top: 0px;
            margin-bottom: 5px;
            font-size: 12px;

        }
    }
}     