.globalCv{
    background-image: url(back_Cv.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-attachment: fixed;
}
.cv{
    width: 80%;
    max-width: 1200px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 100px;

    h2{
        text-align: center;
        margin-top: 30px;
        font-size: 30px;
        text-decoration: underline;
        @include tablette{
            font-size: 20px;
        }
    }
    .part1{
        display: flex;
        background-color: rgb(96, 95, 95);
        -webkit-clip-path: polygon(0 0, 100% 0%, 100% 57%, 0% 100%);
        clip-path: polygon(0 0, 100% 0%, 100% 57%, 0% 100%); 
        div:nth-child(1){
            width: 100px;
            height: auto;
            border-radius: 50%;
            margin: 25px;
            img{
                object-fit: cover;
                border-radius: 50%;
                border: 5px solid white;
            }
        }
        div:nth-child(2){
            display: flex;
            position: relative;
            width: 100%;
            h2{
                margin: 0px;
                font-size: 45px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-decoration: none;
                @include tablette{
                    top: 40%;
                    left: 35%;
                    font-size: 25px;
                }
                span{
                    color: white;
                }
            }
        }
    }
    aside{
        margin-bottom: 0px;
    }
    .part2{
        margin-top: 100px;
        display: flex;
        @include tablette{
            flex-direction: column;
        }
        article:nth-child(2){
            width: 100%;
            ul{
                @include tablette{
                    padding: 0px;
                }
            }
            li{
                margin: 0px 0px 15px 100px;
                @include tablette{
                    margin-left: 40px;
                }
            }
        }
        h3{
            width: 250px;
            text-align: center;
            background-color: rgb(110, 110, 226);
            margin: 0px;
            @include tablette{
                width: 100%;
            }
        }
        div{
            display: flex;
            height: 90%;
            div:nth-child(1){
                width: 5px;
                background-color: rgb(110, 110, 226);
                @include tablette{
                    display: none;
                }
            }
            div:nth-child(2){
                width: 100%;
                @include tablette{
                    display: none;
                }
            }
        }
    }
    .part3{
        margin-top: 20px;
        display: flex;
        @include tablette{
            flex-direction: column;
        }
        article:nth-child(2){
            width: 100%;
            ul{
                @include tablette{
                    padding: 0px;
                }
            }
            li{
                margin: 0px 0px 15px 100px;
                @include tablette{
                    margin-left: 40px;
                }
            }
        }
        h3{
            width: 250px;
            text-align: center;
            background-color: rgba(17, 42, 2, 0.231);
            margin: 0px;
            @include tablette{
                width: 100%;
            }
        }
        div{
            display: flex;
            height: 90%;
            div:nth-child(1){
                width: 5px;
                background-color: rgba(17, 42, 2, 0.231);
                @include tablette{
                    display: none;
                }
            }
            div:nth-child(2){
                width: 100%;
                @include tablette{
                    display: none;
                }
            }
        }
    }
    .part4{
        margin-top: 20px;
        display: flex;
        @include tablette{
            flex-direction: column;
        }
        article:nth-child(2){
            width: 100%;
            ul{
                @include tablette{
                    padding: 0px;
                }
            }
            li{
                margin: 0px 0px 15px 100px;
                @include tablette{
                    margin-left: 40px;
                }
            }
        }
        h3{
            width: 250px;
            text-align: center;
            background-color: rgba(218, 160, 54, 0.5);
            margin: 0px;
            @include tablette{
                width: 100%;
            }
        }
        div{
            display: flex;
            height: 90%;
            div:nth-child(1){
                width: 5px;
                background-color:   rgba(218, 160, 54, 0.5);          
                margin: 0px;
                @include tablette{
                    display: none;
                }
                
            }
            div:nth-child(2){
                width: 100%;
                @include tablette{
                    display: none;
                }
            }
        }
    }
    .part5{
        margin-top: 20px;
        display: flex;
        @include tablette{
            flex-direction: column;
        }
        article:nth-child(2){
            width: 100%;
            ul{
                @include tablette{
                    padding: 0px;
                }
            }
            li{
                margin: 0px 0px 15px 100px;
                @include tablette{
                    margin-left: 40px;
                }
            }
        }
        h3{
            width: 250px;
            text-align: center;
            background-color:rgba(133, 126, 126, 0.8);
            margin: 0px;
            @include tablette{
                width: 100%;
            }
        }
        div{
            display: flex;
            height: 90%;
            div:nth-child(1){
                width: 5px;
                background-color:   rgba(133, 126, 126, 0.8);          
                margin: 0px;
                @include tablette{
                    display: none;
                }
            }
            div:nth-child(2){
                width: 100%;
                @include tablette{
                    display: none;
                }
            }
        }
    }
    .part6{
        margin-top: 20px;
        margin-bottom: 100px;
        padding-bottom: 15px;
        display: flex;
        @include tablette{
            flex-direction: column;
        }
        article:nth-child(2){
            width: 100%;
            ul{
                @include tablette{
                    padding: 0px;
                }
            }
            li{
                margin: 0px 0px 15px 100px;
                @include tablette{
                    margin-left: 40px;
                }
            }
        }
        h3{
            width: 250px;
            text-align: center;
            background-color:rgb(214, 214, 45);
            margin: 0px;
            @include tablette{
                width: 100%;
            }
        }
        div{
            display: flex;
            height: 90%;
            div:nth-child(1){
                width: 5px;
                background-color:   rgb(214, 214, 45);          
                margin: 0px;
                @include tablette{
                    display: none;
                }
            }
            div:nth-child(2){
                width: 100%;
                @include tablette{
                    display: none;
                }
            }
        }
    }
}